body, html {
   font-family: 'Oswald', sans-sarif;
	background:#D3D3D3;
}
.container {
 height:200px;
 overflow:hidden;   
  }
.centered {
  position: absolute;
  color:golden;
 }
h3.green {
background-color:green;
}
h3.red {
background-color:red;
}
h3.blue {
background-color:blue;
}
p span{
  color:blue;
}
