body, html {
   font-family: 'Oswald', sans-sarif;
	background:#D3D3D3;
}
.container {
 height:200px;
 overflow:hidden;   
  }
.centered {
  position: absolute;
  font-size:3vw;
  text-align: right;	
  font-weight: bold;
  color:#DAA520;	
 }

nav a:link, a:visited {
text-decoration:none;
background-color:green;	
color:white;
	
}
article {
padding:5px;	
}
h3.green {
background-color:green;
padding:5px;
margin:5px;	
}
h3.red {
background-color:red;
padding:5px;
margin:5px;	
}
h3.blue {
background-color:blue;
padding:5px;
margin:5px;	
}
p span{
  color:blue;
}
