body, html {
   font-family: 'Oswald', sans-sarif;
   background:#D3D3D3;
   }
.container {
 height:200px;
 position: relative;	
 overflow:hidden;   
  }
.centered {
  position: absolute;
  font-size:50px;
  text-align: center;	
  font-weight: bold;
  color:#DAA520;
   top: -20px;
 }

nav a:link, a:visited {
text-decoration:none;
color:green;
}
article {
padding:5px;
margin:5px;	
}
h3.green {
background-color:green;
padding:5px;
margin:5px;	
}
h3.red {
background-color:red;
padding:5px;
margin:5px;	
}
h3.blue {
background-color:blue;
padding:5px;
margin:5px;	
}
p span{
  color:blue;
  font-weight:bold;	
}
h4 {
font-weight:bold;
font-family: "Times New Roman", Times, serif;	
}
footer{
text-align:center;	
}
